// Button.module.scss

.button {
  cursor: pointer;
  display: flex;
  width: 210px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.apply {
    background-color: #FFC802;

    &:hover, &:focus-visible {
      background-color: #FFEDAB;
    }
  }

  &.reset {
    background-color: #fff;
    color: #000;

    &:hover, &:focus-visible {
      background-color: #000;
      color: #fff;
      .text {
        color: #fff;
      }
    }
  }
}

.resetText:hover, .resetText:focus-visible {
  color: #fff;
}

.applyText:hover, .applyText:focus-visible {
  color: #000;
}
